# For reading PDFs
pymupdf
# For the vector database
chromadb
# For chunking the text
langchain-text-splitters
# For accessing the Gemini API
google-generativeai
#for gui of the application
flask
#for loading the environment variables
python-dotenv